@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
  padding: 5% ;
  margin : 0% ;
  font-family:'Poppins',sans-serif;
  color:#222}


.joke{
  max-width: 100%
}
.books{color:#52595D}
#fixed {
  background-image: url('img/background.jpg');
  height: 700px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 color:#FFF
}
.light{border-top:1px solid#FFF}

.social{
  font-size: 4.5rem

}
